<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
	
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<jaxws:endpoint 
	  id="helloWorld" 
	  implementor="com.barryku.cloud.service.HelloWorldImpl" 
	  address="/HelloWorld" />
	  
	<jaxws:endpoint 
	  id="sforceNotification" 
	  implementor="com.barryku.cloud.cxf.NotificationPortImpl" 
	  address="/sforceNotify" />
	    
	<bean id="userDao" class="com.barryku.cloud.dao.UserDao" />
	
	<bean id="greetingService" class="com.barryku.cloud.service.GreetingService">
		<property name="dao" ref="userDao"/>
	</bean>
		
</beans>